@import '../../styles/variables';

.productPage {
  padding: 20px;
  color: $dark-grey;

  .heading {
    text-align: center;

    .back {
      text-decoration: none;
      color: $dark-grey;
      font-size: 1.5rem;
      font-weight: 100;
      float: left;
    }

    h1 {
      display: inline-block;
    }
  }

  .priceWrapper {
    margin-bottom: 15px;

    .price {
      margin: 5px 0;

      @media only screen and (min-width: 640px) {
        font-size: 2rem;
      }
    }

    .offer {
      color: $offer;
    }

    .services {
      color: $services;
    }
  }

  .image {
    text-align: center;
  }

  .productInfo {
    border-bottom: 1px solid $border;
    padding-bottom: 25px;
  }

  .attribute {
    margin: 10px 0;
    border-top: 1px solid $border;
    padding-top: 10px;

    dt {
      display: inline-block;
    }

    dd {
      float: right;
    }
  }

  @media only screen and (min-width: 640px) {
    .image,
    .productInfo,
    .attributes {
      width: 60%;
      display: inline-block;
      border-right: 1px solid $border;
      padding: 20px;
    }

    .priceWrapper {
      width: 30%;
      display: inline-block;
      vertical-align: top;
      padding: 20px;
    }
  }

}
